= form_for thing do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :tag_list
    = f.text_field :tag_list, data: {'autocomplete-source' => api_tags_path, 'autocomplete-field' => :name}
  .field
    = f.submit
