.tags
  = link_to 'Reset Filter', :things
  Add Filter:
  = render Tag.all - @tags
.things
  %h1
    Things
    - unless @tags.empty?
      (#{render @tags})
  = render @things
= render 'form', thing: Thing.new
